.myb-content {
  width: 100%;
}

.pointer {
  cursor: pointer;
}

.color-68 {
  color: rgb(68, 68, 68);
}

.color-170 {
  color: rgb(170, 170, 170);
}
.color-ffdb98{
  color: #ffdb98;
}
.bg-7097e4{
  background-color: #7097e4;
}

.font-sb {
  font-family: 'PFSB', 'Microsoft YaHei', '黑体', '宋体', 'Arial', sans-serif;
}

.font-sm {
  font-family: 'PFSM', 'Microsoft YaHei', '黑体', '宋体', 'Arial', sans-serif;
}

/* .font-sb {
  font-family: 'PFSB', 'Microsoft YaHei', '黑体', '宋体', 'Arial', sans-serif;
} */
.border-b{
  border-bottom: .01rem solid rgb(240,240,240);
}

.width-ps-100{
    width: 100%;
}

.mr-rem-10{
    margin-right: .10rem;
}
.mr-rem-15{
  margin-right: .15rem;
}
.mt-rem-16{
  margin-top: .16rem;
}
.mt-rem-80{
  margin-top: .8rem;
}
.mb-rem-25{
  margin-bottom: .25rem;
}
.mb-rem-48{
  margin-bottom: .48rem;
}
.mb-px-30{
  margin-bottom: 30px;
}
.pl-rem-30-i{
  padding-left: .3rem !important;
}

.fs-rem-12{
    font-size: .12rem;
}
.fs-rem-13{
    font-size: .13rem;
}
.fs-rem-14{
    font-size: .14rem;
}
.fs-rem-15{
    font-size: .15rem;
}
.fs-rem-16{
    font-size: .16rem;
}
.fs-rem-17{
    font-size: .17rem;
}
.fs-rem-18{
    font-size: .18rem;
}
.fs-px-65{
  font-size: 65px;
}
.fs-px-18{
  font-size: 18px;
}
.fs-px-15{
  font-size: 15px;
}
